<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IRedPill" />
                <binding name="BasicHttpsBinding_IRedPill">
                    <security mode="Transport" />
                </binding>
                <binding name="BasicHttpBinding_IRedPill1" />
                <binding name="BasicHttpsBinding_IRedPill1">
                    <security mode="Transport" />
                </binding>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://knockknock.azurewebsites.net/RedPill.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IRedPill"
                contract="ServiceReference1.IRedPill" name="ReadifyService" />
            <endpoint address="http://seshbot-redpill.azurewebsites.net/RedPill.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IRedPill1"
                contract="ServiceReference2.IRedPill" name="CechnerService" />
        </client>
    </system.serviceModel>
</configuration>